# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# AutoSave, Build
*~
build/*
.kdev4/*

# LaTex builds
doc/*/*.aux
doc/*/*.glo
doc/*/*.idx
doc/*/*.ilg
doc/*/*.ind
doc/*/*.lof
doc/*/*.log
doc/*/*.lol
doc/*/*.lot
doc/*/*.out
doc/*/*.toc
